Web References/inventory/inventory.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:ApiServiceFxiInventory" xmlns:s="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ApiServiceFxiInventory" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema targetNamespace="urn:ApiServiceFxiInventory">
      <s:complexType name="UsernameToken">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="StateCodes">
        <s:restriction base="s:string">
          <s:enumeration value="SUCCESS" />
          <s:enumeration value="API_FUNCTION_MISSING" />
          <s:enumeration value="API_FUNCTION_UNKNOWN" />
          <s:enumeration value="API_FUNCTION_ACCESS_DENIED" />
          <s:enumeration value="API_AGENT_MISSING" />
          <s:enumeration value="API_AGENT_NOT_FOUND" />
          <s:enumeration value="API_AGENT_DEACTIVATED" />
          <s:enumeration value="API_AGENT_KEY_NOT_MATCH" />
          <s:enumeration value="API_CUSTOMER_MISSING" />
          <s:enumeration value="API_CUSTOMER_NOT_FOUND" />
          <s:enumeration value="API_CUSTOMER_DEACTIVATED" />
          <s:enumeration value="API_CUSTOMER_KEY_NOT_MATCH" />
          <s:enumeration value="API_CUSTOMER_FEATURE_ACCESS_DENIED" />
          <s:enumeration value="API_KEY_MISSING" />
          <s:enumeration value="API_KEY_NOT_FOUND" />
          <s:enumeration value="API_KEY_DEACTIVATED" />
          <s:enumeration value="API_KEY_SECRET_NOT_MATCH" />
          <s:enumeration value="API_REQUEST_INCOMPLETE" />
          <s:enumeration value="API_REQUEST_FAILURE" />
          <s:enumeration value="API_REQUEST_VALIDATE" />
          <s:enumeration value="FILE_NOT_FOUND" />
          <s:enumeration value="FILE_DELETED" />
          <s:enumeration value="FILE_ACCESS_DENIED" />
          <s:enumeration value="FILE_STORAGE_MISSING" />
          <s:enumeration value="FILE_STORAGE_SIZE_MISMATCH" />
          <s:enumeration value="FILE_STORAGE_READ_ERROR" />
          <s:enumeration value="FILE_EXISTS" />
          <s:enumeration value="CUSTOMER_DELETED" />
          <s:enumeration value="CUSTOMER_NOT_CONFIRMED" />
          <s:enumeration value="CUSTOMER_BLOCKED" />
          <s:enumeration value="CUSTOMER_INACTIVE" />
          <s:enumeration value="CUSTOMER_WRONG_PASSWORD" />
          <s:enumeration value="CUSTOMER_PASSWORD_NOT_MATCH" />
          <s:enumeration value="CUSTOMER_CURRENT_PASSWORD_NOT_MATCH" />
          <s:enumeration value="CUSTOMER_EMAIL_IN_USE" />
          <s:enumeration value="CUSTOMER_SOCIAL_IN_USE" />
          <s:enumeration value="FILE_REFERENCE_DUPLICATE" />
          <s:enumeration value="FILE_STORAGE_COPY" />
          <s:enumeration value="FILE_INTEGRITY_FAILURE" />
          <s:enumeration value="FILE_FORMAT_UNSUPPORTED" />
          <s:enumeration value="FILE_FORMAT_EXCEPTION" />
          <s:enumeration value="FILE_FORMAT_UNKNOWN" />
          <s:enumeration value="FILE_DOWNLOAD_ERROR" />
          <s:enumeration value="FILE_VALIDATE_ERROR" />
          <s:enumeration value="FILE_OPEN_ERROR" />
          <s:enumeration value="FILE_THUMB_ERROR" />
          <s:enumeration value="DATABASE_RECORD_SAVE" />
          <s:enumeration value="DATABASE_QUERY_EXECUTE" />
          <s:enumeration value="DATABASE_QUERY_RESULT_SAVE" />
          <s:enumeration value="NUMBER_COUNTRY_UNKNOWN" />
          <s:enumeration value="NUMBER_NO_DIALING_RULE" />
          <s:enumeration value="NUMBER_NO_PRICE_RULE" />
          <s:enumeration value="COUNTRY_WRONG_ISO2" />
          <s:enumeration value="COUNTRY_NOT_SUPPORTED" />
          <s:enumeration value="COUNTRY_NO_ROUTE" />
          <s:enumeration value="EMPTY_RESULT" />
          <s:enumeration value="NUMBER_BLOCKED" />
          <s:enumeration value="NUMBER_UNOBTAINABLE" />
          <s:enumeration value="UNALLOCATED_NUMBER" />
          <s:enumeration value="INVALID_NUMBER" />
          <s:enumeration value="NUMBER_UNSUPPORTED" />
          <s:enumeration value="CALL_ABORTED" />
          <s:enumeration value="CALL_REJECTED" />
          <s:enumeration value="CALL_PLACE_ERROR" />
          <s:enumeration value="CALL_CREATE_ERROR" />
          <s:enumeration value="LINE_ATTACH" />
          <s:enumeration value="LINE_RESET" />
          <s:enumeration value="LINE_CAP_FAX" />
          <s:enumeration value="LINE_CAP_VOICE" />
          <s:enumeration value="LINE_SET_TSID" />
          <s:enumeration value="LINE_UNAUTHORIZED" />
          <s:enumeration value="LINE_REQUEST_TIMEOUT" />
          <s:enumeration value="DESTINATION_UNREACHIBLE" />
          <s:enumeration value="DIALING_ERROR" />
          <s:enumeration value="GATEWAY_TIMEOUT" />
          <s:enumeration value="ISDN_NETWORK_FAILURE" />
          <s:enumeration value="BUSY" />
          <s:enumeration value="NO_ANSWER" />
          <s:enumeration value="NO_DIAL_TONE" />
          <s:enumeration value="RECEIVER_INCOMPATIBLE" />
          <s:enumeration value="TEMPORARILY_UNAVAILABLE" />
          <s:enumeration value="TRANSMISSION_ABORTED" />
          <s:enumeration value="TRANSMISSION_EARLY_HANGUP" />
          <s:enumeration value="TRANSMISSION_ERROR" />
          <s:enumeration value="NEGOTIATION_FAILED" />
          <s:enumeration value="NOT_FAX_MACHINE" />
          <s:enumeration value="VOICE_ANSWER" />
          <s:enumeration value="DELIVERY_FAILURE" />
          <s:enumeration value="MESSAGE_REFERENCE_DUPLICATE" />
          <s:enumeration value="FAXJOB_NOT_FOUND" />
          <s:enumeration value="FAXJOB_NOT_FAILED" />
          <s:enumeration value="FAXJOB_NOT_WAITING" />
          <s:enumeration value="FAXTRANSPORT_NOT_FOUND" />
          <s:enumeration value="FAXTRANSPORT_NOT_WAITING" />
          <s:enumeration value="CONTAINER_EXISTS" />
          <s:enumeration value="CONTAINER_NOT_FOUND" />
          <s:enumeration value="CONTAINER_DELETED" />
          <s:enumeration value="CONTAINER_ACCESS_DENIED" />
          <s:enumeration value="CONTAINER_DOCUMENT_DUPLICATE" />
          <s:enumeration value="CONTAINER_PAGES_LIMIT_EXCEEDED" />
          <s:enumeration value="COVER_TEMPLATE_NOT_FOUND" />
          <s:enumeration value="COVER_TEMPLATE_DELETED" />
          <s:enumeration value="COVER_TEMPLATE_ACCESS_DENIED" />
          <s:enumeration value="FAXPRICE_NOT_FOUND" />
          <s:enumeration value="RESUBMIT_FAILED" />
          <s:enumeration value="DID_NUMBER_LOCKED" />
          <s:enumeration value="DID_SOURCE_NOT_FAXIN" />
          <s:enumeration value="DID_CUSTOMER_NOT_MATCH" />
          <s:enumeration value="DID_WRONG_FAXIN_STATE" />
          <s:enumeration value="DID_GROUP_NOT_CONNECTED" />
          <s:enumeration value="DID_EXTEND_TOO_EARLY" />
          <s:enumeration value="DID_ORDER_PENDING_ACTIVATION" />
          <s:enumeration value="FILE_PREVIEW_NOT_READY" />
          <s:enumeration value="FILE_CONVERTION_FAILED" />
          <s:enumeration value="FILE_PAGES_LIMIT_EXCEEDED" />
          <s:enumeration value="COMMON_EMAIL_SEND_ERROR" />
          <s:enumeration value="QUEUE_TASK_ABORTED" />
          <s:enumeration value="FILE_TIFF_DEPTH_VALIDATION" />
          <s:enumeration value="FILE_TIFF_FORMAT_VALIDATION" />
          <s:enumeration value="FILE_TIFF_QUALITY_VALIDATION" />
          <s:enumeration value="FILE_TIFF_PAGES_VALIDATION" />
          <s:enumeration value="FILE_TIFF_WIDTH_VALIDATION" />
          <s:enumeration value="FILE_TIFF_HEIGHT_VALIDATION" />
          <s:enumeration value="NUMBER_ADDRESS_NOT_REQUIRED" />
          <s:enumeration value="NUMBER_OUT_OF_STOCK" />
          <s:enumeration value="NUMBER_GROUP_NOT_AVAILABLE" />
          <s:enumeration value="NUMBER_ORDER_FAILURE" />
          <s:enumeration value="NUMBER_SETUP_FAILURE" />
          <s:enumeration value="NUMBER_ADDRESS_FAILURE" />
          <s:enumeration value="NUMBER_PROVIDER_NOT_RECOGNIZED" />
          <s:enumeration value="SESSION_TOKEN_MISMATCH" />
          <s:enumeration value="SESSION_NOT_FOUND" />
          <s:enumeration value="SESSION_EXPIRED" />
          <s:enumeration value="CONFIRM_TOKEN_NOT_FOUND" />
          <s:enumeration value="CONFIRM_TOKEN_TYPE_MISMATCH" />
          <s:enumeration value="CONFIRM_TOKEN_SOURCE_MISMATCH" />
          <s:enumeration value="CONFIRM_TOKEN_USER_MISMATCH" />
          <s:enumeration value="CONFIRM_TOKEN_EXPIRED" />
          <s:enumeration value="CONFIRM_TOKEN_VALIDATED" />
          <s:enumeration value="CONFIRM_TOKEN_INVALIDATED" />
          <s:enumeration value="CONFIRM_TOKEN_CLOSED" />
          <s:enumeration value="SEND_SMS_FREQUENCY_EXCEEDED" />
          <s:enumeration value="CONTACT_GROUP_IN_USE" />
          <s:enumeration value="CONTACT_GROUP_NOT_FOUND" />
          <s:enumeration value="CONTACT_GROUP_ACCESS_DENIED" />
          <s:enumeration value="CONTACT_ITEM_NOT_FOUND" />
          <s:enumeration value="CONTACT_ITEM_ACCESS_DENIED" />
          <s:enumeration value="CONTACT_NUMBER_IN_USE" />
          <s:enumeration value="NUMBER_ITEM_EXISTS" />
          <s:enumeration value="STORAGE_ALREADY_CONNECTED" />
          <s:enumeration value="STORAGE_REVOKE_FAILURE" />
          <s:enumeration value="STORAGE_NOT_CONNECTED" />
          <s:enumeration value="STORAGE_NOT_FOUND" />
          <s:enumeration value="INSUFFICIENT_FUNDS" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="StateNumber">
        <s:restriction base="s:string">
          <s:enumeration value="UNKNOWN" />
          <s:enumeration value="PENDING" />
          <s:enumeration value="PROCESSING" />
          <s:enumeration value="VERIFY_PENDING" />
          <s:enumeration value="VERIFY_PROGRESS" />
          <s:enumeration value="VERIFY_FAILED" />
          <s:enumeration value="ACTIVE" />
          <s:enumeration value="EXPIRING" />
          <s:enumeration value="EXPIRED" />
          <s:enumeration value="CANCELLED" />
          <s:enumeration value="ABORTED" />
          <s:enumeration value="FAILED" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="DidType">
        <s:restriction base="s:string">
          <s:enumeration value="UNKNOWN" />
          <s:enumeration value="GEOGRAPHIC" />
          <s:enumeration value="TOLL_FREE" />
          <s:enumeration value="NATIONAL" />
          <s:enumeration value="MOBILE" />
          <s:enumeration value="INUM" />
          <s:enumeration value="SHARED_COST" />
          <s:enumeration value="SPECIAL" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="DidAddressType">
        <s:restriction base="s:string">
          <s:enumeration value="UNKNOWN" />
          <s:enumeration value="WORLDWIDE" />
          <s:enumeration value="NATIONAL" />
          <s:enumeration value="LOCAL" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="FaxCountry">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="iso2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="iso3" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="hasStates" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="hasRegulation" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="phoneCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FaxCountryArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="tns:FaxCountry[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FaxCountryState">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="stateCodeA2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="countryCodeA3" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="stateName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FaxCountryStateArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="tns:FaxCountryState[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FaxDidGroup">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="refID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="countryCodeA3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="stateCodeA2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cityName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="phoneCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="areaCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="didType" type="tns:DidType" />
          <s:element minOccurs="1" maxOccurs="1" name="isAvailable" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="hasRegulation" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="didAddressType" type="tns:DidAddressType" />
          <s:element minOccurs="1" maxOccurs="1" name="regProofRequired" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FaxDidGroupArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="tns:FaxDidGroup[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FaxDid">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="didRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="addressRef" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="didGroupRef" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="state" type="tns:StateNumber" />
          <s:element minOccurs="0" maxOccurs="1" name="stateMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="didE164" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="didFormatted" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="didCountryCodeA3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="didStateCodeA2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="didPhoneCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="didAreaCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="didCity" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="didType" type="tns:DidType" />
          <s:element minOccurs="1" maxOccurs="1" name="inboxCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="canExtend" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="canRestore" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="canCancel" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="reservedAt" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="reservedTill" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FaxDidArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="tns:FaxDid[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="intArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="s:int[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="floatArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="s:float[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="stringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="s:string[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ApiResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="stateCode" type="tns:StateCodes" />
          <s:element minOccurs="0" maxOccurs="1" name="stateMessage" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ApiResponseListCountries">
        <s:complexContent mixed="false">
          <s:extension base="tns:ApiResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="countResult" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="countTotal" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="items" type="tns:FaxCountryArray" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ApiResponseListCountryStates">
        <s:complexContent mixed="false">
          <s:extension base="tns:ApiResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="countResult" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="countTotal" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="items" type="tns:FaxCountryStateArray" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ApiResponseListDidGroups">
        <s:complexContent mixed="false">
          <s:extension base="tns:ApiResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="countResult" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="countTotal" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="items" nillable="true" type="tns:FaxDidGroupArray" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ApiResponseListDids">
        <s:complexContent mixed="false">
          <s:extension base="tns:ApiResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="countResult" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="countTotal" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="items" type="tns:FaxDidArray" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UsernameTokenHeaderSoapIn">
    <wsdl:part name="UsernameTokenHeaderPart" type="tns:UsernameToken" />
  </wsdl:message>
  <wsdl:message name="listCountriesSoapIn" />
  <wsdl:message name="listCountriesSoapOut">
    <wsdl:part name="return" type="tns:ApiResponseListCountries" />
  </wsdl:message>
  <wsdl:message name="listStatesSoapIn">
    <wsdl:part name="countryCodeA3" type="s:string" />
  </wsdl:message>
  <wsdl:message name="listStatesSoapOut">
    <wsdl:part name="return" type="tns:ApiResponseListCountryStates" />
  </wsdl:message>
  <wsdl:message name="listDidGroupsSoapIn">
    <wsdl:part name="countryCodeA3" type="s:string" />
    <wsdl:part name="stateCodeA2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="listDidGroupsSoapOut">
    <wsdl:part name="return" type="tns:ApiResponseListDidGroups" />
  </wsdl:message>
  <wsdl:message name="getDidGroupSoapIn">
    <wsdl:part name="groupRef" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getDidGroupSoapOut">
    <wsdl:part name="return" type="tns:ApiResponseListDidGroups" />
  </wsdl:message>
  <wsdl:message name="listDidsSoapIn" />
  <wsdl:message name="listDidsSoapOut">
    <wsdl:part name="return" type="tns:ApiResponseListDids" />
  </wsdl:message>
  <wsdl:portType name="ApiServiceFxiInventorySoap">
    <wsdl:operation name="listCountries">
      <wsdl:input message="tns:listCountriesSoapIn" />
      <wsdl:output message="tns:listCountriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listStates">
      <wsdl:input message="tns:listStatesSoapIn" />
      <wsdl:output message="tns:listStatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listDidGroups" parameterOrder="countryCodeA3 stateCodeA2">
      <wsdl:input message="tns:listDidGroupsSoapIn" />
      <wsdl:output message="tns:listDidGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDidGroup">
      <wsdl:input message="tns:getDidGroupSoapIn" />
      <wsdl:output message="tns:getDidGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listDids">
      <wsdl:input message="tns:listDidsSoapIn" />
      <wsdl:output message="tns:listDidsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ApiServiceFxiInventorySoap" type="tns:ApiServiceFxiInventorySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="listCountries">
      <soap:operation soapAction="#listCountries" />
      <wsdl:input>
        <soap:header message="tns:UsernameTokenHeaderSoapIn" part="UsernameTokenHeaderPart" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ApiServiceFxiInventory" />
        <soap:body use="encoded" namespace="urn:ApiServiceFxiInventory" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ApiServiceFxiInventory" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="return" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listStates">
      <soap:operation soapAction="#listStates" />
      <wsdl:input>
        <soap:header message="tns:UsernameTokenHeaderSoapIn" part="UsernameTokenHeaderPart" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ApiServiceFxiInventory" />
        <soap:body use="encoded" namespace="urn:ApiServiceFxiInventory" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="countryCodeA3" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ApiServiceFxiInventory" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="return" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listDidGroups">
      <soap:operation soapAction="#listDidGroups" />
      <wsdl:input>
        <soap:header message="tns:UsernameTokenHeaderSoapIn" part="UsernameTokenHeaderPart" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ApiServiceFxiInventory" />
        <soap:body use="encoded" namespace="urn:ApiServiceFxiInventory" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="countryCodeA3 stateCodeA2" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ApiServiceFxiInventory" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="return" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDidGroup">
      <soap:operation soapAction="#getDidGroup" />
      <wsdl:input>
        <soap:header message="tns:UsernameTokenHeaderSoapIn" part="UsernameTokenHeaderPart" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ApiServiceFxiInventory" />
        <soap:body use="encoded" namespace="urn:ApiServiceFxiInventory" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="groupRef" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ApiServiceFxiInventory" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="return" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listDids">
      <soap:operation soapAction="#listDids" />
      <wsdl:input>
        <soap:header message="tns:UsernameTokenHeaderSoapIn" part="UsernameTokenHeaderPart" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ApiServiceFxiInventory" />
        <soap:body use="encoded" namespace="urn:ApiServiceFxiInventory" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ApiServiceFxiInventory" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="return" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApiServiceFxiInventory">
    <wsdl:port name="ApiServiceFxiInventorySoap" binding="tns:ApiServiceFxiInventorySoap">
      <soap:address location="https://api.byfax.biz/soap/1.1/faxin/inventory" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>