Web References/cover/cover.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:ApiServiceCover" xmlns:s="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ApiServiceCover" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema targetNamespace="urn:ApiServiceCover">
      <s:complexType name="UsernameToken">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="StateCodes">
        <s:restriction base="s:string">
          <s:enumeration value="SUCCESS" />
          <s:enumeration value="API_FUNCTION_MISSING" />
          <s:enumeration value="API_FUNCTION_UNKNOWN" />
          <s:enumeration value="API_FUNCTION_ACCESS_DENIED" />
          <s:enumeration value="API_AGENT_MISSING" />
          <s:enumeration value="API_AGENT_NOT_FOUND" />
          <s:enumeration value="API_AGENT_DEACTIVATED" />
          <s:enumeration value="API_AGENT_KEY_NOT_MATCH" />
          <s:enumeration value="API_CUSTOMER_MISSING" />
          <s:enumeration value="API_CUSTOMER_NOT_FOUND" />
          <s:enumeration value="API_CUSTOMER_DEACTIVATED" />
          <s:enumeration value="API_CUSTOMER_KEY_NOT_MATCH" />
          <s:enumeration value="API_CUSTOMER_FEATURE_ACCESS_DENIED" />
          <s:enumeration value="API_KEY_MISSING" />
          <s:enumeration value="API_KEY_NOT_FOUND" />
          <s:enumeration value="API_KEY_DEACTIVATED" />
          <s:enumeration value="API_KEY_SECRET_NOT_MATCH" />
          <s:enumeration value="API_REQUEST_INCOMPLETE" />
          <s:enumeration value="API_REQUEST_FAILURE" />
          <s:enumeration value="API_REQUEST_VALIDATE" />
          <s:enumeration value="FILE_NOT_FOUND" />
          <s:enumeration value="FILE_DELETED" />
          <s:enumeration value="FILE_ACCESS_DENIED" />
          <s:enumeration value="FILE_STORAGE_MISSING" />
          <s:enumeration value="FILE_STORAGE_SIZE_MISMATCH" />
          <s:enumeration value="FILE_STORAGE_READ_ERROR" />
          <s:enumeration value="FILE_EXISTS" />
          <s:enumeration value="CUSTOMER_DELETED" />
          <s:enumeration value="CUSTOMER_NOT_CONFIRMED" />
          <s:enumeration value="CUSTOMER_BLOCKED" />
          <s:enumeration value="CUSTOMER_INACTIVE" />
          <s:enumeration value="CUSTOMER_WRONG_PASSWORD" />
          <s:enumeration value="CUSTOMER_PASSWORD_NOT_MATCH" />
          <s:enumeration value="CUSTOMER_CURRENT_PASSWORD_NOT_MATCH" />
          <s:enumeration value="CUSTOMER_EMAIL_IN_USE" />
          <s:enumeration value="CUSTOMER_SOCIAL_IN_USE" />
          <s:enumeration value="FILE_REFERENCE_DUPLICATE" />
          <s:enumeration value="FILE_STORAGE_COPY" />
          <s:enumeration value="FILE_INTEGRITY_FAILURE" />
          <s:enumeration value="FILE_FORMAT_UNSUPPORTED" />
          <s:enumeration value="FILE_FORMAT_EXCEPTION" />
          <s:enumeration value="FILE_FORMAT_UNKNOWN" />
          <s:enumeration value="FILE_DOWNLOAD_ERROR" />
          <s:enumeration value="FILE_VALIDATE_ERROR" />
          <s:enumeration value="FILE_OPEN_ERROR" />
          <s:enumeration value="FILE_THUMB_ERROR" />
          <s:enumeration value="DATABASE_RECORD_SAVE" />
          <s:enumeration value="DATABASE_QUERY_EXECUTE" />
          <s:enumeration value="DATABASE_QUERY_RESULT_SAVE" />
          <s:enumeration value="NUMBER_COUNTRY_UNKNOWN" />
          <s:enumeration value="NUMBER_NO_DIALING_RULE" />
          <s:enumeration value="NUMBER_NO_PRICE_RULE" />
          <s:enumeration value="COUNTRY_WRONG_ISO2" />
          <s:enumeration value="COUNTRY_NOT_SUPPORTED" />
          <s:enumeration value="COUNTRY_NO_ROUTE" />
          <s:enumeration value="EMPTY_RESULT" />
          <s:enumeration value="NUMBER_BLOCKED" />
          <s:enumeration value="NUMBER_UNOBTAINABLE" />
          <s:enumeration value="UNALLOCATED_NUMBER" />
          <s:enumeration value="INVALID_NUMBER" />
          <s:enumeration value="NUMBER_UNSUPPORTED" />
          <s:enumeration value="CALL_ABORTED" />
          <s:enumeration value="CALL_REJECTED" />
          <s:enumeration value="CALL_PLACE_ERROR" />
          <s:enumeration value="CALL_CREATE_ERROR" />
          <s:enumeration value="LINE_ATTACH" />
          <s:enumeration value="LINE_RESET" />
          <s:enumeration value="LINE_CAP_FAX" />
          <s:enumeration value="LINE_CAP_VOICE" />
          <s:enumeration value="LINE_SET_TSID" />
          <s:enumeration value="LINE_UNAUTHORIZED" />
          <s:enumeration value="LINE_REQUEST_TIMEOUT" />
          <s:enumeration value="DESTINATION_UNREACHIBLE" />
          <s:enumeration value="DIALING_ERROR" />
          <s:enumeration value="GATEWAY_TIMEOUT" />
          <s:enumeration value="ISDN_NETWORK_FAILURE" />
          <s:enumeration value="BUSY" />
          <s:enumeration value="NO_ANSWER" />
          <s:enumeration value="NO_DIAL_TONE" />
          <s:enumeration value="RECEIVER_INCOMPATIBLE" />
          <s:enumeration value="TEMPORARILY_UNAVAILABLE" />
          <s:enumeration value="TRANSMISSION_ABORTED" />
          <s:enumeration value="TRANSMISSION_EARLY_HANGUP" />
          <s:enumeration value="TRANSMISSION_ERROR" />
          <s:enumeration value="NEGOTIATION_FAILED" />
          <s:enumeration value="NOT_FAX_MACHINE" />
          <s:enumeration value="VOICE_ANSWER" />
          <s:enumeration value="DELIVERY_FAILURE" />
          <s:enumeration value="MESSAGE_REFERENCE_DUPLICATE" />
          <s:enumeration value="FAXJOB_NOT_FOUND" />
          <s:enumeration value="FAXJOB_NOT_FAILED" />
          <s:enumeration value="FAXJOB_NOT_WAITING" />
          <s:enumeration value="FAXTRANSPORT_NOT_FOUND" />
          <s:enumeration value="FAXTRANSPORT_NOT_WAITING" />
          <s:enumeration value="CONTAINER_EXISTS" />
          <s:enumeration value="CONTAINER_NOT_FOUND" />
          <s:enumeration value="CONTAINER_DELETED" />
          <s:enumeration value="CONTAINER_ACCESS_DENIED" />
          <s:enumeration value="CONTAINER_DOCUMENT_DUPLICATE" />
          <s:enumeration value="CONTAINER_PAGES_LIMIT_EXCEEDED" />
          <s:enumeration value="COVER_TEMPLATE_NOT_FOUND" />
          <s:enumeration value="COVER_TEMPLATE_DELETED" />
          <s:enumeration value="COVER_TEMPLATE_ACCESS_DENIED" />
          <s:enumeration value="FAXPRICE_NOT_FOUND" />
          <s:enumeration value="RESUBMIT_FAILED" />
          <s:enumeration value="DID_NUMBER_LOCKED" />
          <s:enumeration value="DID_SOURCE_NOT_FAXIN" />
          <s:enumeration value="DID_CUSTOMER_NOT_MATCH" />
          <s:enumeration value="DID_WRONG_FAXIN_STATE" />
          <s:enumeration value="DID_GROUP_NOT_CONNECTED" />
          <s:enumeration value="DID_EXTEND_TOO_EARLY" />
          <s:enumeration value="DID_ORDER_PENDING_ACTIVATION" />
          <s:enumeration value="FILE_PREVIEW_NOT_READY" />
          <s:enumeration value="FILE_CONVERTION_FAILED" />
          <s:enumeration value="FILE_PAGES_LIMIT_EXCEEDED" />
          <s:enumeration value="COMMON_EMAIL_SEND_ERROR" />
          <s:enumeration value="QUEUE_TASK_ABORTED" />
          <s:enumeration value="FILE_TIFF_DEPTH_VALIDATION" />
          <s:enumeration value="FILE_TIFF_FORMAT_VALIDATION" />
          <s:enumeration value="FILE_TIFF_QUALITY_VALIDATION" />
          <s:enumeration value="FILE_TIFF_PAGES_VALIDATION" />
          <s:enumeration value="FILE_TIFF_WIDTH_VALIDATION" />
          <s:enumeration value="FILE_TIFF_HEIGHT_VALIDATION" />
          <s:enumeration value="NUMBER_ADDRESS_NOT_REQUIRED" />
          <s:enumeration value="NUMBER_OUT_OF_STOCK" />
          <s:enumeration value="NUMBER_GROUP_NOT_AVAILABLE" />
          <s:enumeration value="NUMBER_ORDER_FAILURE" />
          <s:enumeration value="NUMBER_SETUP_FAILURE" />
          <s:enumeration value="NUMBER_ADDRESS_FAILURE" />
          <s:enumeration value="NUMBER_PROVIDER_NOT_RECOGNIZED" />
          <s:enumeration value="SESSION_TOKEN_MISMATCH" />
          <s:enumeration value="SESSION_NOT_FOUND" />
          <s:enumeration value="SESSION_EXPIRED" />
          <s:enumeration value="CONFIRM_TOKEN_NOT_FOUND" />
          <s:enumeration value="CONFIRM_TOKEN_TYPE_MISMATCH" />
          <s:enumeration value="CONFIRM_TOKEN_SOURCE_MISMATCH" />
          <s:enumeration value="CONFIRM_TOKEN_USER_MISMATCH" />
          <s:enumeration value="CONFIRM_TOKEN_EXPIRED" />
          <s:enumeration value="CONFIRM_TOKEN_VALIDATED" />
          <s:enumeration value="CONFIRM_TOKEN_INVALIDATED" />
          <s:enumeration value="CONFIRM_TOKEN_CLOSED" />
          <s:enumeration value="SEND_SMS_FREQUENCY_EXCEEDED" />
          <s:enumeration value="CONTACT_GROUP_IN_USE" />
          <s:enumeration value="CONTACT_GROUP_NOT_FOUND" />
          <s:enumeration value="CONTACT_GROUP_ACCESS_DENIED" />
          <s:enumeration value="CONTACT_ITEM_NOT_FOUND" />
          <s:enumeration value="CONTACT_ITEM_ACCESS_DENIED" />
          <s:enumeration value="CONTACT_NUMBER_IN_USE" />
          <s:enumeration value="NUMBER_ITEM_EXISTS" />
          <s:enumeration value="STORAGE_ALREADY_CONNECTED" />
          <s:enumeration value="STORAGE_REVOKE_FAILURE" />
          <s:enumeration value="STORAGE_NOT_CONNECTED" />
          <s:enumeration value="STORAGE_NOT_FOUND" />
          <s:enumeration value="INSUFFICIENT_FUNDS" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="FaxQuality">
        <s:restriction base="s:string">
          <s:enumeration value="UNKNOWN" />
          <s:enumeration value="BASIC" />
          <s:enumeration value="STANDARD" />
          <s:enumeration value="FINE" />
          <s:enumeration value="SUPER_FINE" />
          <s:enumeration value="ULTRA_FINE" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="FaxFile">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="fileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fileMime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fileSize" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="fileCheck" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fileData" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FaxFileArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="tns:FaxFile[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FaxCover">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="coverRef" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="coverTitle" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FaxCoverArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="tns:FaxCover[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="intArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="s:int[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="floatArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="s:float[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="stringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="s:string[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ApiResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="stateCode" type="tns:StateCodes" />
          <s:element minOccurs="0" maxOccurs="1" name="stateMessage" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ApiResponseFileDownload">
        <s:complexContent mixed="false">
          <s:extension base="tns:ApiResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Document" nillable="true" type="tns:FaxFile" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ApiResponseListCovers">
        <s:complexContent mixed="false">
          <s:extension base="tns:ApiResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="countResult" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="countTotal" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="items" nillable="true" type="tns:FaxCoverArray" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ApiResponseCoverUpload">
        <s:complexContent mixed="false">
          <s:extension base="tns:ApiResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="coverRef" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="fileSize" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="fileCheck" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="fileMime" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UsernameTokenHeaderSoapIn">
    <wsdl:part name="UsernameTokenHeaderPart" type="tns:UsernameToken" />
  </wsdl:message>
  <wsdl:message name="addCoverSoapIn">
    <wsdl:part name="title" type="s:string" />
    <wsdl:part name="file" type="tns:FaxFile" />
  </wsdl:message>
  <wsdl:message name="addCoverSoapOut">
    <wsdl:part name="return" type="tns:ApiResponseCoverUpload" />
  </wsdl:message>
  <wsdl:message name="downloadCoverSoapIn">
    <wsdl:part name="coverRef" type="s:string" />
  </wsdl:message>
  <wsdl:message name="downloadCoverSoapOut">
    <wsdl:part name="return" type="tns:ApiResponseFileDownload" />
  </wsdl:message>
  <wsdl:message name="getCoverSoapIn">
    <wsdl:part name="coverRef" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getCoverSoapOut">
    <wsdl:part name="return" type="tns:ApiResponseListCovers" />
  </wsdl:message>
  <wsdl:message name="listCoversSoapIn" />
  <wsdl:message name="listCoversSoapOut">
    <wsdl:part name="return" type="tns:ApiResponseListCovers" />
  </wsdl:message>
  <wsdl:message name="renameCoverSoapIn">
    <wsdl:part name="coverRef" type="s:string" />
    <wsdl:part name="title" type="s:string" />
  </wsdl:message>
  <wsdl:message name="renameCoverSoapOut">
    <wsdl:part name="return" type="tns:ApiResponse" />
  </wsdl:message>
  <wsdl:message name="reloadCoverSoapIn">
    <wsdl:part name="coverRef" type="s:string" />
    <wsdl:part name="file" type="tns:FaxFile" />
  </wsdl:message>
  <wsdl:message name="reloadCoverSoapOut">
    <wsdl:part name="return" type="tns:ApiResponse" />
  </wsdl:message>
  <wsdl:message name="deleteCoverSoapIn">
    <wsdl:part name="coverRef" type="s:string" />
  </wsdl:message>
  <wsdl:message name="deleteCoverSoapOut">
    <wsdl:part name="return" type="tns:ApiResponse" />
  </wsdl:message>
  <wsdl:message name="getCoverPreviewSoapIn">
    <wsdl:part name="coverRef" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getCoverPreviewSoapOut">
    <wsdl:part name="return" type="tns:ApiResponseFileDownload" />
  </wsdl:message>
  <wsdl:portType name="ApiServiceCoverSoap">
    <wsdl:operation name="addCover" parameterOrder="title file">
      <wsdl:input message="tns:addCoverSoapIn" />
      <wsdl:output message="tns:addCoverSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downloadCover">
      <wsdl:input message="tns:downloadCoverSoapIn" />
      <wsdl:output message="tns:downloadCoverSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCover">
      <wsdl:input message="tns:getCoverSoapIn" />
      <wsdl:output message="tns:getCoverSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listCovers">
      <wsdl:input message="tns:listCoversSoapIn" />
      <wsdl:output message="tns:listCoversSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="renameCover" parameterOrder="coverRef title">
      <wsdl:input message="tns:renameCoverSoapIn" />
      <wsdl:output message="tns:renameCoverSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="reloadCover" parameterOrder="coverRef file">
      <wsdl:input message="tns:reloadCoverSoapIn" />
      <wsdl:output message="tns:reloadCoverSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteCover">
      <wsdl:input message="tns:deleteCoverSoapIn" />
      <wsdl:output message="tns:deleteCoverSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCoverPreview">
      <wsdl:input message="tns:getCoverPreviewSoapIn" />
      <wsdl:output message="tns:getCoverPreviewSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ApiServiceCoverSoap" type="tns:ApiServiceCoverSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="addCover">
      <soap:operation soapAction="#addCover" />
      <wsdl:input>
        <soap:header message="tns:UsernameTokenHeaderSoapIn" part="UsernameTokenHeaderPart" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ApiServiceCover" />
        <soap:body use="encoded" namespace="urn:ApiServiceCover" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="title file" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ApiServiceCover" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="return" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadCover">
      <soap:operation soapAction="#downloadCover" />
      <wsdl:input>
        <soap:header message="tns:UsernameTokenHeaderSoapIn" part="UsernameTokenHeaderPart" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ApiServiceCover" />
        <soap:body use="encoded" namespace="urn:ApiServiceCover" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="coverRef" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ApiServiceCover" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="return" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCover">
      <soap:operation soapAction="#getCover" />
      <wsdl:input>
        <soap:header message="tns:UsernameTokenHeaderSoapIn" part="UsernameTokenHeaderPart" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ApiServiceCover" />
        <soap:body use="encoded" namespace="urn:ApiServiceCover" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="coverRef" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ApiServiceCover" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="return" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listCovers">
      <soap:operation soapAction="#listCovers" />
      <wsdl:input>
        <soap:header message="tns:UsernameTokenHeaderSoapIn" part="UsernameTokenHeaderPart" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ApiServiceCover" />
        <soap:body use="encoded" namespace="urn:ApiServiceCover" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ApiServiceCover" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="return" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="renameCover">
      <soap:operation soapAction="#renameCover" />
      <wsdl:input>
        <soap:header message="tns:UsernameTokenHeaderSoapIn" part="UsernameTokenHeaderPart" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ApiServiceCover" />
        <soap:body use="encoded" namespace="urn:ApiServiceCover" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="coverRef title" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ApiServiceCover" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="return" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reloadCover">
      <soap:operation soapAction="#reloadCover" />
      <wsdl:input>
        <soap:header message="tns:UsernameTokenHeaderSoapIn" part="UsernameTokenHeaderPart" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ApiServiceCover" />
        <soap:body use="encoded" namespace="urn:ApiServiceCover" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="coverRef file" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ApiServiceCover" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="return" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCover">
      <soap:operation soapAction="#deleteCover" />
      <wsdl:input>
        <soap:header message="tns:UsernameTokenHeaderSoapIn" part="UsernameTokenHeaderPart" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ApiServiceCover" />
        <soap:body use="encoded" namespace="urn:ApiServiceCover" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="coverRef" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ApiServiceCover" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="return" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCoverPreview">
      <soap:operation soapAction="#getCoverPreview" />
      <wsdl:input>
        <soap:header message="tns:UsernameTokenHeaderSoapIn" part="UsernameTokenHeaderPart" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ApiServiceCover" />
        <soap:body use="encoded" namespace="urn:ApiServiceCover" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="coverRef" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ApiServiceCover" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="return" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApiServiceCover">
    <wsdl:port name="ApiServiceCoverSoap" binding="tns:ApiServiceCoverSoap">
      <soap:address location="https://api.byfax.biz/soap/1.1/cover" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>