Web References/message/message.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:ApiServiceFxiMessage" xmlns:s="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ApiServiceFxiMessage" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema targetNamespace="urn:ApiServiceFxiMessage">
      <s:complexType name="UsernameToken">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="StateCodes">
        <s:restriction base="s:string">
          <s:enumeration value="SUCCESS" />
          <s:enumeration value="API_FUNCTION_MISSING" />
          <s:enumeration value="API_FUNCTION_UNKNOWN" />
          <s:enumeration value="API_FUNCTION_ACCESS_DENIED" />
          <s:enumeration value="API_AGENT_MISSING" />
          <s:enumeration value="API_AGENT_NOT_FOUND" />
          <s:enumeration value="API_AGENT_DEACTIVATED" />
          <s:enumeration value="API_AGENT_KEY_NOT_MATCH" />
          <s:enumeration value="API_CUSTOMER_MISSING" />
          <s:enumeration value="API_CUSTOMER_NOT_FOUND" />
          <s:enumeration value="API_CUSTOMER_DEACTIVATED" />
          <s:enumeration value="API_CUSTOMER_KEY_NOT_MATCH" />
          <s:enumeration value="API_CUSTOMER_FEATURE_ACCESS_DENIED" />
          <s:enumeration value="API_KEY_MISSING" />
          <s:enumeration value="API_KEY_NOT_FOUND" />
          <s:enumeration value="API_KEY_DEACTIVATED" />
          <s:enumeration value="API_KEY_SECRET_NOT_MATCH" />
          <s:enumeration value="API_REQUEST_INCOMPLETE" />
          <s:enumeration value="API_REQUEST_FAILURE" />
          <s:enumeration value="API_REQUEST_VALIDATE" />
          <s:enumeration value="FILE_NOT_FOUND" />
          <s:enumeration value="FILE_DELETED" />
          <s:enumeration value="FILE_ACCESS_DENIED" />
          <s:enumeration value="FILE_STORAGE_MISSING" />
          <s:enumeration value="FILE_STORAGE_SIZE_MISMATCH" />
          <s:enumeration value="FILE_STORAGE_READ_ERROR" />
          <s:enumeration value="FILE_EXISTS" />
          <s:enumeration value="CUSTOMER_DELETED" />
          <s:enumeration value="CUSTOMER_NOT_CONFIRMED" />
          <s:enumeration value="CUSTOMER_BLOCKED" />
          <s:enumeration value="CUSTOMER_INACTIVE" />
          <s:enumeration value="CUSTOMER_WRONG_PASSWORD" />
          <s:enumeration value="CUSTOMER_PASSWORD_NOT_MATCH" />
          <s:enumeration value="CUSTOMER_CURRENT_PASSWORD_NOT_MATCH" />
          <s:enumeration value="CUSTOMER_EMAIL_IN_USE" />
          <s:enumeration value="CUSTOMER_SOCIAL_IN_USE" />
          <s:enumeration value="FILE_REFERENCE_DUPLICATE" />
          <s:enumeration value="FILE_STORAGE_COPY" />
          <s:enumeration value="FILE_INTEGRITY_FAILURE" />
          <s:enumeration value="FILE_FORMAT_UNSUPPORTED" />
          <s:enumeration value="FILE_FORMAT_EXCEPTION" />
          <s:enumeration value="FILE_FORMAT_UNKNOWN" />
          <s:enumeration value="FILE_DOWNLOAD_ERROR" />
          <s:enumeration value="FILE_VALIDATE_ERROR" />
          <s:enumeration value="FILE_OPEN_ERROR" />
          <s:enumeration value="FILE_THUMB_ERROR" />
          <s:enumeration value="DATABASE_RECORD_SAVE" />
          <s:enumeration value="DATABASE_QUERY_EXECUTE" />
          <s:enumeration value="DATABASE_QUERY_RESULT_SAVE" />
          <s:enumeration value="NUMBER_COUNTRY_UNKNOWN" />
          <s:enumeration value="NUMBER_NO_DIALING_RULE" />
          <s:enumeration value="NUMBER_NO_PRICE_RULE" />
          <s:enumeration value="COUNTRY_WRONG_ISO2" />
          <s:enumeration value="COUNTRY_NOT_SUPPORTED" />
          <s:enumeration value="COUNTRY_NO_ROUTE" />
          <s:enumeration value="EMPTY_RESULT" />
          <s:enumeration value="NUMBER_BLOCKED" />
          <s:enumeration value="NUMBER_UNOBTAINABLE" />
          <s:enumeration value="UNALLOCATED_NUMBER" />
          <s:enumeration value="INVALID_NUMBER" />
          <s:enumeration value="NUMBER_UNSUPPORTED" />
          <s:enumeration value="CALL_ABORTED" />
          <s:enumeration value="CALL_REJECTED" />
          <s:enumeration value="CALL_PLACE_ERROR" />
          <s:enumeration value="CALL_CREATE_ERROR" />
          <s:enumeration value="LINE_ATTACH" />
          <s:enumeration value="LINE_RESET" />
          <s:enumeration value="LINE_CAP_FAX" />
          <s:enumeration value="LINE_CAP_VOICE" />
          <s:enumeration value="LINE_SET_TSID" />
          <s:enumeration value="LINE_UNAUTHORIZED" />
          <s:enumeration value="LINE_REQUEST_TIMEOUT" />
          <s:enumeration value="DESTINATION_UNREACHIBLE" />
          <s:enumeration value="DIALING_ERROR" />
          <s:enumeration value="GATEWAY_TIMEOUT" />
          <s:enumeration value="ISDN_NETWORK_FAILURE" />
          <s:enumeration value="BUSY" />
          <s:enumeration value="NO_ANSWER" />
          <s:enumeration value="NO_DIAL_TONE" />
          <s:enumeration value="RECEIVER_INCOMPATIBLE" />
          <s:enumeration value="TEMPORARILY_UNAVAILABLE" />
          <s:enumeration value="TRANSMISSION_ABORTED" />
          <s:enumeration value="TRANSMISSION_EARLY_HANGUP" />
          <s:enumeration value="TRANSMISSION_ERROR" />
          <s:enumeration value="NEGOTIATION_FAILED" />
          <s:enumeration value="NOT_FAX_MACHINE" />
          <s:enumeration value="VOICE_ANSWER" />
          <s:enumeration value="DELIVERY_FAILURE" />
          <s:enumeration value="MESSAGE_REFERENCE_DUPLICATE" />
          <s:enumeration value="FAXJOB_NOT_FOUND" />
          <s:enumeration value="FAXJOB_NOT_FAILED" />
          <s:enumeration value="FAXJOB_NOT_WAITING" />
          <s:enumeration value="FAXTRANSPORT_NOT_FOUND" />
          <s:enumeration value="FAXTRANSPORT_NOT_WAITING" />
          <s:enumeration value="CONTAINER_EXISTS" />
          <s:enumeration value="CONTAINER_NOT_FOUND" />
          <s:enumeration value="CONTAINER_DELETED" />
          <s:enumeration value="CONTAINER_ACCESS_DENIED" />
          <s:enumeration value="CONTAINER_DOCUMENT_DUPLICATE" />
          <s:enumeration value="CONTAINER_PAGES_LIMIT_EXCEEDED" />
          <s:enumeration value="COVER_TEMPLATE_NOT_FOUND" />
          <s:enumeration value="COVER_TEMPLATE_DELETED" />
          <s:enumeration value="COVER_TEMPLATE_ACCESS_DENIED" />
          <s:enumeration value="FAXPRICE_NOT_FOUND" />
          <s:enumeration value="RESUBMIT_FAILED" />
          <s:enumeration value="DID_NUMBER_LOCKED" />
          <s:enumeration value="DID_SOURCE_NOT_FAXIN" />
          <s:enumeration value="DID_CUSTOMER_NOT_MATCH" />
          <s:enumeration value="DID_WRONG_FAXIN_STATE" />
          <s:enumeration value="DID_GROUP_NOT_CONNECTED" />
          <s:enumeration value="DID_EXTEND_TOO_EARLY" />
          <s:enumeration value="DID_ORDER_PENDING_ACTIVATION" />
          <s:enumeration value="FILE_PREVIEW_NOT_READY" />
          <s:enumeration value="FILE_CONVERTION_FAILED" />
          <s:enumeration value="FILE_PAGES_LIMIT_EXCEEDED" />
          <s:enumeration value="COMMON_EMAIL_SEND_ERROR" />
          <s:enumeration value="QUEUE_TASK_ABORTED" />
          <s:enumeration value="FILE_TIFF_DEPTH_VALIDATION" />
          <s:enumeration value="FILE_TIFF_FORMAT_VALIDATION" />
          <s:enumeration value="FILE_TIFF_QUALITY_VALIDATION" />
          <s:enumeration value="FILE_TIFF_PAGES_VALIDATION" />
          <s:enumeration value="FILE_TIFF_WIDTH_VALIDATION" />
          <s:enumeration value="FILE_TIFF_HEIGHT_VALIDATION" />
          <s:enumeration value="NUMBER_ADDRESS_NOT_REQUIRED" />
          <s:enumeration value="NUMBER_OUT_OF_STOCK" />
          <s:enumeration value="NUMBER_GROUP_NOT_AVAILABLE" />
          <s:enumeration value="NUMBER_ORDER_FAILURE" />
          <s:enumeration value="NUMBER_SETUP_FAILURE" />
          <s:enumeration value="NUMBER_ADDRESS_FAILURE" />
          <s:enumeration value="NUMBER_PROVIDER_NOT_RECOGNIZED" />
          <s:enumeration value="SESSION_TOKEN_MISMATCH" />
          <s:enumeration value="SESSION_NOT_FOUND" />
          <s:enumeration value="SESSION_EXPIRED" />
          <s:enumeration value="CONFIRM_TOKEN_NOT_FOUND" />
          <s:enumeration value="CONFIRM_TOKEN_TYPE_MISMATCH" />
          <s:enumeration value="CONFIRM_TOKEN_SOURCE_MISMATCH" />
          <s:enumeration value="CONFIRM_TOKEN_USER_MISMATCH" />
          <s:enumeration value="CONFIRM_TOKEN_EXPIRED" />
          <s:enumeration value="CONFIRM_TOKEN_VALIDATED" />
          <s:enumeration value="CONFIRM_TOKEN_INVALIDATED" />
          <s:enumeration value="CONFIRM_TOKEN_CLOSED" />
          <s:enumeration value="SEND_SMS_FREQUENCY_EXCEEDED" />
          <s:enumeration value="CONTACT_GROUP_IN_USE" />
          <s:enumeration value="CONTACT_GROUP_NOT_FOUND" />
          <s:enumeration value="CONTACT_GROUP_ACCESS_DENIED" />
          <s:enumeration value="CONTACT_ITEM_NOT_FOUND" />
          <s:enumeration value="CONTACT_ITEM_ACCESS_DENIED" />
          <s:enumeration value="CONTACT_NUMBER_IN_USE" />
          <s:enumeration value="NUMBER_ITEM_EXISTS" />
          <s:enumeration value="STORAGE_ALREADY_CONNECTED" />
          <s:enumeration value="STORAGE_REVOKE_FAILURE" />
          <s:enumeration value="STORAGE_NOT_CONNECTED" />
          <s:enumeration value="STORAGE_NOT_FOUND" />
          <s:enumeration value="INSUFFICIENT_FUNDS" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="StateTransport">
        <s:restriction base="s:string">
          <s:enumeration value="UNKNOWN" />
          <s:enumeration value="READY" />
          <s:enumeration value="ASSIGNED" />
          <s:enumeration value="QUEUED" />
          <s:enumeration value="PREPARING" />
          <s:enumeration value="PLACED" />
          <s:enumeration value="DIALING" />
          <s:enumeration value="RINGING" />
          <s:enumeration value="CONNECTED" />
          <s:enumeration value="NEGOTIATING" />
          <s:enumeration value="TRAINING" />
          <s:enumeration value="TRANSMITTING" />
          <s:enumeration value="SUCCESS" />
          <s:enumeration value="PAUSED" />
          <s:enumeration value="FAILED" />
          <s:enumeration value="ABORTED" />
          <s:enumeration value="CANCELLED" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="FaxQuality">
        <s:restriction base="s:string">
          <s:enumeration value="UNKNOWN" />
          <s:enumeration value="BASIC" />
          <s:enumeration value="STANDARD" />
          <s:enumeration value="FINE" />
          <s:enumeration value="SUPER_FINE" />
          <s:enumeration value="ULTRA_FINE" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="FaxCompression">
        <s:restriction base="s:string">
          <s:enumeration value="UNKNOWN" />
          <s:enumeration value="MH" />
          <s:enumeration value="MR" />
          <s:enumeration value="MMR" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="FaxFile">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="fileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fileMime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fileSize" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="fileCheck" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fileData" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FaxFileArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="tns:FaxFile[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="FaxContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Timezone" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FaxContactArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="tns:FaxContact[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ListPagination">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="pageNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FaxinMessage">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="refID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="recipientE164" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="senderE164" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="state" type="tns:StateTransport" />
          <s:element minOccurs="0" maxOccurs="1" name="stateEx" type="tns:StateCodes" />
          <s:element minOccurs="0" maxOccurs="1" name="stateMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dateReceived" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="durationCall" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="durationFax" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="localSID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remoteSID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pages" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="speed" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ecm" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="quality" type="tns:FaxQuality" />
          <s:element minOccurs="0" maxOccurs="1" name="compression" type="tns:FaxCompression" />
          <s:element minOccurs="1" maxOccurs="1" name="hasFile" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FaxinMessageArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="tns:FaxinMessage[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ApiRequestCountFaxes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="didE164" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dateFrom" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="dateTill" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="isSuccess" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="hasFile" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ApiRequestListFaxes">
        <s:complexContent mixed="false">
          <s:extension base="tns:ApiRequestCountFaxes">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="pagination" type="tns:ListPagination" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="intArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="s:int[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="floatArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="s:float[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="stringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:attribute wsdl:arrayType="s:string[]" ref="soapenc:arrayType" />
          </s:restriction>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ApiResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="stateCode" type="tns:StateCodes" />
          <s:element minOccurs="0" maxOccurs="1" name="stateMessage" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ApiResponseObject">
        <s:complexContent mixed="false">
          <s:extension base="tns:ApiResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="objectRef" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ApiResponseFileDownload">
        <s:complexContent mixed="false">
          <s:extension base="tns:ApiResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Document" nillable="true" type="tns:FaxFile" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ApiResponseDocPreview">
        <s:complexContent mixed="false">
          <s:extension base="tns:ApiResponseFileDownload">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="pages" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ApiResponseItemsCount">
        <s:complexContent mixed="false">
          <s:extension base="tns:ApiResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="itemsCount" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ApiResponseListFaxes">
        <s:complexContent mixed="false">
          <s:extension base="tns:ApiResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="countResult" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="countTotal" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="items" type="tns:FaxinMessageArray" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UsernameTokenHeaderSoapIn">
    <wsdl:part name="UsernameTokenHeaderPart" type="tns:UsernameToken" />
  </wsdl:message>
  <wsdl:message name="countFaxesSoapIn">
    <wsdl:part name="listRequest" type="tns:ApiRequestCountFaxes" />
  </wsdl:message>
  <wsdl:message name="countFaxesSoapOut">
    <wsdl:part name="return" type="tns:ApiResponseItemsCount" />
  </wsdl:message>
  <wsdl:message name="listFaxesSoapIn">
    <wsdl:part name="listRequest" type="tns:ApiRequestListFaxes" />
  </wsdl:message>
  <wsdl:message name="listFaxesSoapOut">
    <wsdl:part name="return" type="tns:ApiResponseListFaxes" />
  </wsdl:message>
  <wsdl:message name="downloadFaxSoapIn">
    <wsdl:part name="messageRef" type="s:string" />
    <wsdl:part name="isPDF" type="s:boolean" />
  </wsdl:message>
  <wsdl:message name="downloadFaxSoapOut">
    <wsdl:part name="return" type="tns:ApiResponseDocPreview" />
  </wsdl:message>
  <wsdl:message name="deleteFaxSoapIn">
    <wsdl:part name="messageRef" type="s:string" />
  </wsdl:message>
  <wsdl:message name="deleteFaxSoapOut">
    <wsdl:part name="return" type="tns:ApiResponse" />
  </wsdl:message>
  <wsdl:portType name="ApiServiceFxiMessageSoap">
    <wsdl:operation name="countFaxes">
      <wsdl:input message="tns:countFaxesSoapIn" />
      <wsdl:output message="tns:countFaxesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listFaxes">
      <wsdl:input message="tns:listFaxesSoapIn" />
      <wsdl:output message="tns:listFaxesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downloadFax" parameterOrder="messageRef isPDF">
      <wsdl:input message="tns:downloadFaxSoapIn" />
      <wsdl:output message="tns:downloadFaxSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteFax">
      <wsdl:input message="tns:deleteFaxSoapIn" />
      <wsdl:output message="tns:deleteFaxSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ApiServiceFxiMessageSoap" type="tns:ApiServiceFxiMessageSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="countFaxes">
      <soap:operation soapAction="#countFaxes" />
      <wsdl:input>
        <soap:header message="tns:UsernameTokenHeaderSoapIn" part="UsernameTokenHeaderPart" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ApiServiceFxiMessage" />
        <soap:body use="encoded" namespace="urn:ApiServiceFxiMessage" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="listRequest" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ApiServiceFxiMessage" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="return" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listFaxes">
      <soap:operation soapAction="#listFaxes" />
      <wsdl:input>
        <soap:header message="tns:UsernameTokenHeaderSoapIn" part="UsernameTokenHeaderPart" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ApiServiceFxiMessage" />
        <soap:body use="encoded" namespace="urn:ApiServiceFxiMessage" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="listRequest" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ApiServiceFxiMessage" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="return" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadFax">
      <soap:operation soapAction="#downloadFax" />
      <wsdl:input>
        <soap:header message="tns:UsernameTokenHeaderSoapIn" part="UsernameTokenHeaderPart" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ApiServiceFxiMessage" />
        <soap:body use="encoded" namespace="urn:ApiServiceFxiMessage" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="messageRef isPDF" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ApiServiceFxiMessage" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="return" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteFax">
      <soap:operation soapAction="#deleteFax" />
      <wsdl:input>
        <soap:header message="tns:UsernameTokenHeaderSoapIn" part="UsernameTokenHeaderPart" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ApiServiceFxiMessage" />
        <soap:body use="encoded" namespace="urn:ApiServiceFxiMessage" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="messageRef" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ApiServiceFxiMessage" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="return" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApiServiceFxiMessage">
    <wsdl:port name="ApiServiceFxiMessageSoap" binding="tns:ApiServiceFxiMessageSoap">
      <soap:address location="https://api.byfax.biz/soap/1.1/faxin/message" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>